<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationID</key>
	<string>95e4cf10868e69f6588bb19f5edb449ee99adf86027da0c537040764783342de</string>
	<key>Server</key>
	<string>https://bmwe244-first-app.herokuapp.com/parse</string>
	<key>LiveQueryServer</key>
	<string></string>
	<key>UseTransactions</key>
	<false/>
	<key>DeleteKeychainIfNeeded</key>
	<true/>
</dict>
</plist>
